<!DOCTYPE html>
<html>
<head>
<title>Join Meeting</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="glass">

<h2>Join Meeting</h2>

<form action="/join-room" method="POST">

<input name="roomId" placeholder="Enter Meeting Code" required>

<br><br>

<button type="submit">Join</button>

</form>

<br>

<a href="/dashboard">Back</a>

</div>

</body>
</html>